torchvision==0.15.0.dev20230116
transformers==4.27.1
datasets~=2.10.0
numpy~=1.24.2
evaluate~=0.2.2
pillow~=9.4.0
ipython~=8.11.0
numpy==1.24.2
evaluate==0.2.2
pillow==9.4.0
absl-py==1.4.0
nltk==3.8.1
rouge-score==0.1.2